ul.side-nav
    li.side-nav
        a(href='/rendelesek')
            svg
                use(xlink:href='img/icons.svg#icon-briefcase')
            img(src='/icons/order_white.png') 
            |&nbsp;&nbsp;Rendelések 
    li.side-nav
        a(href='/termekAttekintes')
            svg
                use(xlink:href='img/icons.svg#icon-briefcase')
            img(src='/icons/clothes_30px.png') 
            |&nbsp;&nbsp;Termékek       
    li.side-nav
        a(href='/felhasznalok')
            svg
                use(xlink:href='img/icons.svg#icon-credit-card')
            
            img(src='/icons/user_white.png')
            |&nbsp;&nbsp;Felhasználók
    li.side-nav
        a(href='/beszallitok')
            svg
                use(xlink:href='img/icons.svg#icon-credit-card')          
            img(src='/icons/truck_white_30.png')
            |&nbsp;&nbsp;Beszállítók