extends base

block content
    script(src='./js/index.js',type='module')
    body      
        section.section2
            .index-polok
                .polo-container#cont1
                    img(src="/img/m2_compressed.jpg", alt="")
                    .layer
                        h3 Poló nyomtatás cégeknek
                .polo-container#cont2
                    img(src="/img/B300NARXL.jpg", alt="")
                    .layer
                        h3 Munkaruházat
                .polo-container#cont3
                    img(src="/img/m5.jpg", alt="")
                    .layer
                        h3 Egyedi póló nyomtatás    
            div.section2-div
                h1 Rólunk
                p Vállalkozásunk munkaruházatok árusításával foglalkozik. Nagyobb rendeléseket is teljesítünk, ha szeretnél saját mintát a pólokra, pulóverekre, nadrágokra, csak írd le nekünk az ötletedet, vagy küldj egy képet a mintáról és máris elkészítjük a saját ruházatot.
