.small-container {
  display: flex;
  justify-content: center;
}

.row-details {
  display: flex;
  justify-content: center;
}

.col-2 {
  width: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-2 img {
  max-width: 400px;
  height: auto;
}
.col-2 > * {
  margin: 0;
  text-align: left;
}
.single-product {
  margin-top: 80px;
}
.single-product .col-2 img {
  padding: 0;
}
.single-product .col-2 {
  padding: 20px;
}
.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
  width: 80px;
  margin-bottom: 5px;
  outline: none;
  border-radius: 1px;
}
.single-product input {
  width: 50px;
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
  margin-right: 10px;
  outline: none;
  display: inline-block;
}
.single-product input:focus {
  border: 1px solid rgb(54, 54, 54);
}

.single-product a {
  display: inline-block;
  padding: 8px 20px;
  background-color: #eb701e;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  width: 50px;
  margin: 10px 0;
}
.single-product a:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  background-color: #e98c4e;
}
/* RENDELÉSEK */
.date {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  border-radius: 3px;
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}
.date input[type="date"] {
  display: inline-block;
  background: transparent;
  color: #807f7f;
}
.date h1 {
  display: inline-block;
}
.insights {
  display: grid;
  height: 200px;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
.insights > div {
  background: #ebeaea;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  transition: all 300ms ease;
}
.insights > div:hover {
  box-shadow: none;
}
.recent-order {
  margin-top: 2rem;
}
.recent-order h2 {
  margin-bottom: 0.8rem;
}
.recent-order table {
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  transition: all 300ms ease;
}
.recent-order table:hover {
  box-shadow: none;
}
.recent-order table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid rgba(132, 139, 200, 0.18);
}
.recent-order table tbody td:last-child td {
  border: none;
}
/* TERMÉKEK */
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}
.shop-content img {
  width: 400px;
  height: 470px;
  margin-bottom: 0.5rem;
}
.product-title {
  font-size: 1.1.rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.price {
  font-weight: 500;
}
.cart {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.shop-content .cart {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
